body{
  background: #DCDCDC;
  font-family: courier;
  border-color: green;
}
h1, 
h2,
h3{
  color: #222;
  text-shadow: 0px 2px 3px #555;
  text-align: right;  
  line-height: 10px;
}

p{
   color: #2F4F4F;
}
strong{
  text-align:left;
}

ul{
  color: #483D8B
}

ol{
 color: #483D8B
}

table {
  font-family: Courier, sans-serif;
  border-collapse: separate;
  border-spacing: 2px 1px;
}

caption {
  text-align: left;
  color: #585858 ;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

th {
  background: SteelBlue;
  color: white;
}
tbody {
  text-align: left;
  background: #A8A8A8;
}
